/* Extended Styles
   ========================================================================== */
h2, #student-name, #main-nav li, #to-top, #footer-nav {
  text-transform: uppercase;
}

header, #about-me, #portfolio, #contact {
  text-align: center;
}

section, h2, .portfolio-item, #contact a:last-of-type {
  margin-bottom: 3.125rem;
}

#nav-toggle:hover, #to-top:hover, #footer-nav span:hover {
  color: #4e8ef7;
  cursor: pointer;
}

/* Mixins
   ========================================================================== */
/* Base Styles
   ========================================================================== */
* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: auto;
  line-height: 1.5;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-color: #e8e8e8;
  color: #4a4a4a;
}

header {
  margin-top: 1em;
  margin-bottom: 3.75rem;
}
@media (min-width: 769px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1025px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  transition: all 0.4s ease;
  text-decoration: none;
  color: #4a4a4a;
  display: block;
}
a:hover {
  color: #4e8ef7;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
}

/* Navigation Styles
   ========================================================================== */
#student-name {
  margin-top: 0;
}
@media (min-width: 1025px) {
  #student-name {
    margin-bottom: 0;
  }
}

#main-nav li {
  transition: all 0.4s ease;
  margin-bottom: 0.46875rem;
  padding: 15px 0;
  background-color: #fff;
}
#main-nav li:hover {
  background-color: #4e8ef7;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 769px) {
  #main-nav {
    display: flex;
  }
  #main-nav li {
    background-color: transparent;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  #main-nav li:hover {
    background-color: transparent;
    color: #4e8ef7;
  }
  #main-nav li:last-of-type {
    margin-right: 0;
  }
}
@media (min-width: 1025px) {
  #main-nav li {
    padding: 0;
  }
}

#nav-toggle {
  transition: all 0.4s ease;
  font-size: 1.25rem;
  padding: 5px;
}
@media (min-width: 769px) {
  #nav-toggle {
    display: none;
  }
}

/* About Me Styles
   ========================================================================== */
#about-me {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 769px) {
  #about-me {
    display: flex;
    justify-content: space-around;
  }
}

#profile-photo {
  width: 152.15px;
}
@media (min-width: 769px) {
  #profile-photo {
    box-shadow: 0 5px 5px -5px #333;
  }
}

#description {
  margin-top: -6px;
}
@media (min-width: 769px) {
  #description {
    width: 65%;
    align-self: center;
    order: -1;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
}
#description::before {
  content: "";
  display: block;
  max-width: 290px;
  margin: 0 auto 1rem;
  height: 6px;
  background-color: #4e8ef7;
}
@media (min-width: 769px) {
  #description::before {
    content: none;
  }
}

/* Portfolio Styles
   ========================================================================== */
@media (min-width: 769px) {
  #portfolio {
    display: flex;
    flex-wrap: wrap;
  }
  #portfolio h2 {
    flex-basis: 100%;
  }
}

.portfolio-item {
  transition: all 0.3s ease-in-out;
}
.portfolio-item p {
  margin-bottom: 0;
}
.portfolio-item i {
  font-size: 2em;
}
.portfolio-item h3 {
  margin-top: 0;
}
.portfolio-item img {
  margin-bottom: 0.3125rem;
}
@media (min-width: 769px) {
  .portfolio-item {
    flex: 1 50%;
    padding: 10px;
  }
}
@media (min-width: 1025px) {
  .portfolio-item {
    flex-basis: 33%;
  }
}

@media (min-width: 769px) {
  .item1:hover {
    background-color: #36acd0;
    color: #fff;
  }
  .item2:hover {
    background-color: #e0ab26;
    color: #fff;
  }
  .item3:hover {
    background-color: #2572aa;
    color: #fff;
  }
  .item4:hover {
    background-color: #52bab4;
    color: #fff;
  }
  .item5:hover {
    background-color: #675a85;
    color: #fff;
  }
  .item6:hover {
    background-color: #62717e;
    color: #fff;
  }
}

/* Contact Styles
   ========================================================================== */
#contact {
  border-bottom: 1px solid #4a4a4a;
  margin-bottom: 0;
}
#contact a {
  margin-bottom: 0.625rem;
}
#contact p {
  width: 90%;
  max-width: 620px;
  margin: 0 auto 2.1875rem;
}
@media (min-width: 769px) {
  #contact p {
    width: 75%;
  }
}
#contact h2 {
  margin-bottom: 25px;
}

/* Footer Styles
   ========================================================================== */
footer {
  display: flex;
  margin: 25px 0;
  font-size: 0.875rem;
}

#to-top {
  transition: all 0.4s ease;
  margin-left: auto;
}
@media (min-width: 769px) {
  #to-top {
    display: none;
  }
}

#footer-nav {
  display: none;
  margin-left: auto;
}
@media (min-width: 769px) {
  #footer-nav {
    display: block;
  }
}
#footer-nav span {
  transition: all 0.4s ease;
}

#foot-home,
#foot-portfolio {
  margin-right: 15px;
}

/*# sourceMappingURL=main.css.map */
