/* Extended Styles
   ========================================================================== */

%text-uppercase {
  text-transform: uppercase;
}

%text-center {
  text-align: center;
}

%margin-center {
  margin-left : auto;
  margin-right: auto;
}

%section-separator {
  @include remCalc(50, margin, bottom);
}

%hover-transition {
  transition: $transition-color;
  
  &:hover {
    color : $color-primary;
    cursor: pointer;
  }
}

%heading-icon {
  max-width       : 72px;
  border-radius   : 50%;
  margin          : 0 auto 1rem;
  color           : $color-primary;
  background-color: $color-secondary;
}
