/* Mixins
   ========================================================================== */

// Input desired margin or padding in pixels and convert to rem.
// If no $direction is supplied, then apply to all sides.
// Ex. remCalc(5, margin, bottom) -> margin-bottom: 0.3125rem
// Ex2. remCalc(20, padding) -> padding: 1.25rem
@mixin remCalc($px, $type, $direction: null) {
  @if ($direction) {
    #{$type}-#{$direction}: unquote("#{$px / 16}rem");
  } @else {
    #{$type}: unquote("#{$px / 16}rem");
  }
}

@mixin underline-effect($type: "portfolio") {
  &:after {
    @include remCalc(5, margin, top);
    display      : block;
    content      : '';
    border-bottom: $border-lrg;
    transform    : scaleX(0);
    transition   : transform .3s ease-in-out .15s;
  }
  
  @if $type == "nav" {
    &:after {
      border-bottom: $border-default;
    }

    &:hover {
      &:after {
        transform    : scaleX(1);
      }
    }
  }
}

@mixin query($breakpoint) {
  @if $breakpoint == "tablet" {
    @media #{$brk-tablet} {
      @content;
    }
  } @else if $breakpoint == "desktop" {
      @media #{$brk-desktop} {
        @content;
      }
  } @else if $breakpoint == "ie-base" {
      @media #{$brk-ie} {
        @content;
      }
  } @else if $breakpoint == "ie-tablet" {
      @media #{$brk-tablet} and #{$brk-ie} {
        @content;
      }
  } @else if $breakpoint == "ie-desktop" {
      @media #{$brk-desktop} and #{$brk-ie} {
        @content;
      }
  } @else {
      @error "`#{$breakpoint}` is not a valid argument for query mixin.";
  }
}
