  /* Contact Styles
   ========================================================================== */

#contact {
  @extend %center;
  border-bottom: $border-drk-sm;
  margin-bottom: 0;
}

.contact-info {
  width    : 90%;
  max-width: 620px;
  margin   : 1rem auto 2.1875rem;

  // TABLET
  @include query("tablet") {
    width: 75%;
  }
}

.contact-link {
  @include remCalc(10, margin, bottom);
  max-width   : 50%;
  margin-left : auto;
  margin-right: auto;

  &:last-of-type {
    @extend %section-separator;
  }
}
