/* Portfolio Styles
   ========================================================================== */

#portfolio {
  @extend %center;

  // TABLET
  @include query("tablet") {
    display  : flex;
    flex-wrap: wrap;
  }
}

.portfolio-item {
  @extend %section-separator;
  transition: border-radius .4s ease-out 0s, background-color .3s ease-in-out 0s, color .3s ease-out .2s;

  // TABLET
  @include query("tablet") {
    @include remCalc(10, padding);
    flex: $flex-2col;

    &:hover {
    background-color: $color-secondary;
    color           : $color-tertiary;
    border-radius   : 8px;

      .thumbnail {
        box-shadow: $shdw-bottom-lrg;
      }

      .prtflio-icon {
        color                     : $color-primary;
        transition-timing-function: ease-out;
        transition-delay          : .2s;
      }

      .project-name:after {
        transform: scaleX(1);
      }
    }
  }

  // DESKTOP
  @include query("desktop") {
    flex: $flex-3col;
  }

  // IE-TABLET - Fixes two column layout.
  @include query("ie-tablet") {
    flex: 1 47%;
  }

  // IE-DESKTOP - Fixes three column layout.
  @include query("ie-desktop") {
    flex: 1 30.8%;
  }
}

.prtflio-icon {
  display  : block;
  font-size: $icon-medium;
}

.prtflio-desc {
  @include remCalc(7.5, padding);
  margin-top: 0;
}

.thumbnail {
  @include remCalc(5, margin, bottom );
  transition: box-shadow .2s ease;
}

.project-name {
  display   : inline-block;
  margin-top: 0;

  // TABLET
  @include query("tablet") {
    @include underline-effect();
  }
}

.ion-filing {
  @extend %heading-icon;
}
