/* About Me Styles
   ========================================================================== */

#about-me {
  @extend %center;
  max-width   : 1150px;
  margin-left : auto;
  margin-right: auto;
  @media #{$brk-tablet} {
    display        : flex;
    justify-content: space-around;
  }
}

#profile-photo {
  width: 152.15px; // 15% smaller than original on mobile.
  @media #{$brk-tablet} {
    box-shadow: $shdw-bottom;
  }
}

#description {
  margin-top: -6px;
  @media #{$brk-tablet} {
    width        : 65%;
    align-self   : center;
    order        : -1;
    margin-top   : 0;
    margin-bottom: 0;
    text-align   : left;
  }

  &::before {
    content         : "";
    display         : block;
    max-width       : 290px;
    margin          : 0 auto 1rem;
    height          : 6px;
    background-color: $color-highlight;
    @media #{$brk-tablet} {
      content: none;
    }
  }
}
