  /* Contact Styles
   ========================================================================== */

#contact {
  @extend %center;
  border-bottom: 1px solid $color-secondary;
  margin-bottom: 0;

  a {
    @include layout-calc(10, margin, bottom);

    &:last-of-type {
      @extend %margin-bottom;
    }
  }

  p {
    width    : 90%;
    max-width: 620px;
    margin   : 1rem auto 2.1875rem;
    @include query("tablet") {
      width: 75%;
    }
  }
}
