/* Contact Styles
   ========================================================================== */

#contact {
  @extend %center;
  border-bottom: 1px solid $color-secondary;
  margin-bottom: 0;

  a {
    margin-bottom: 0.625rem;

    &:last-of-type {
      @extend %margin-bottom;
    }
  }

  p {
    width    : 90%;
    max-width: 620px;
    margin   : 0 auto 2.1875rem;

    @media #{$brk-tablet} {
      width: 75%;
    }
  }

  h2 {
    margin-bottom: 25px;
  }
}
