/* Contact Styles
   ========================================================================== */

#contact {
  @extend %center;
  border-bottom: 1px solid $color-secondary;
  margin-bottom: 0;

  a {
    margin-bottom: 0.625rem;

    &:last-of-type {
      @extend %margin-bottom;
    }
  }

  p {
    margin-bottom: 2.1875rem;
  }

  h2 {
    margin-bottom: 25px;
  }
}
