/* Footer Styles
   ========================================================================== */

footer {
  display  : flex;
  margin   : 25px 0;
  font-size: $text-small;
}

#to-top {
  @extend %text-uppercase;
  @extend %nav-hover;
  margin-left: auto;

  // TABLET
  @include query("tablet") {
    display: none;
  }
}

// Footer Nav Container
#footer-nav {
  @extend %text-uppercase;
  display    : none;
  margin-left: auto;

  // TABLET
  @include query("tablet") {
    display: flex;
  }
}

// Footer Nav Links
.ft-nav-item {
  @extend %nav-hover;
  @include hover("nav");
}

#foot-home,
#foot-portfolio {
  @include remCalc(15, margin, right);
}
