/* Footer Styles
   ========================================================================== */

footer {
  @include remCalc(25, margin, top);
  @include remCalc(25, margin, bottom);
  display  : flex;
  font-size: $text-small;
  color    : $color-secondary;

  @include query("tablet") {
    @include remCalc(20, margin, bottom);
  }
}

#to-top {
  @extend %text-uppercase;
  @extend %hover-transition;
  margin-left: auto;

  // TABLET
  @include query("tablet") {
    display: none;
  }
}

// Footer Nav Container
#footer-nav {
  @extend %text-uppercase;
  display    : none;
  margin-left: auto;

  // TABLET
  @include query("tablet") {
    display: flex;
  }

  // IE
  @include query("ie-tablet") {
    display: block;
  }
}

// Footer Nav Links
.ft-nav-item {
  @extend %hover-transition;
  @include underline-effect("nav");

  // IE
  @include query("ie-tablet") {
    display: inline-block;
  }
}

#foot-home,
#foot-portfolio {
  @include remCalc(15, margin, right);
}
