/* Navigation Styles
   ========================================================================== */

#student-name {
  @extend %text-uppercase;
  margin-top: 0;
}

#main-nav {
  li {
    @extend %text-uppercase;
    margin-bottom   : 0.46875rem;
    background-color: $color-tertiary;
  }

  a {
    @include transition-all();
    padding: 15px 0;

    &:hover {
      background-color: $color-highlight;
      color           : $color-tertiary;
    }
  }
}
