/* Navigation Styles
   ========================================================================== */

#student-name {
  @extend %text-uppercase;
  margin-top: 0;

  @include query("desktop") {
    margin-bottom: 0;
  }
}

#main-nav {
  li {
    @extend %text-uppercase;
    @extend %nav-hover;
    @include remCalc(7.5, margin, bottom);
    padding         : 15px 0;
    background-color: $color-tertiary;
  }

  @include query("tablet") {
    display: flex;

    li {
      @include hover("nav");
      @include remCalc(32, margin, right);
      margin-bottom   : 0;
      background-color: transparent;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

#nav-toggle {
  @extend %nav-hover;
  @include remCalc(5, padding);
  font-size: $icon-small;

  @include query("tablet") {
    display: none;
  }
}
