/* Navigation Styles
   ========================================================================== */

#student-name {
  @extend %text-uppercase;
  margin-top: 0;
}

#main-nav {
  a {
    @extend %text-uppercase;
    @include transition-all();
    margin-bottom   : 0.46875rem;
    padding         : 15px 0;
    background-color: $color-tertiary;

    &:hover {
      background-color: $color-highlight;
      color           : $color-tertiary;
    }
  }
  @media #{$brk-tablet} {
    display: flex;

    a {
      background-color: transparent;
      margin-right    : 2rem;
      margin-bottom   : 0;

      &:hover {
        background-color: transparent;
        color           : $color-highlight;
      }
    }

    li:last-of-type {
      a {
        margin-right: 0;
      }
    }
  }
}
