/* Portfolio Styles
   ========================================================================== */

#portfolio {
  @extend %center;
  @include query("tablet") {
    display  : flex;
    flex-wrap: wrap;

    h2 {
      flex-basis: 100%;
    }
  }
}

.portfolio-item {
  @extend %margin-bottom;
  @include transition-all(.3s);
  border-radius: $br;

  i {
    font-size: $icon-medium;
  }

  p {
    @include layout-calc(7.5, padding);
    margin-top: 0;
  }

  h3 {
    margin-top: 0;
  }

  img {
    @include layout-calc(5, margin, bottom );
    @include transition-all(.2s);
    border: 1px solid transparent;
  }

  &:hover {
    background-color: $color-secondary;
    color           : $color-tertiary;

    img {
      border-color: $color-primary;
      box-shadow  : $shdw-bottom-lrg;
    }

    i {
      color: $color-primary;
    }
  }
  @include query("tablet") {
     @include layout-calc(10, padding);
    flex: 1 50%;
  }
  @include query("desktop") {
    flex: 1 33.3333%;
  }
}

.ion-filing {
  @extend %heading-icon;
}
