/* Skills Styles
   ========================================================================== */

#skills {
  @extend %center;
  display         : flex;
  flex-wrap       : wrap;
  color           : $color-primary;
  background-color: $color-secondary;

  // TABLET
  @include query("tablet") {
    border-radius: $br;
  }
}

.skills-container {
  @include remCalc(10, padding);
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
  color         : $color-tertiary;
  transition    : background-color .25s ease-in;

  &:hover {
    background-color: darken($color-secondary, 5%);
  }

  .icon {
    font-size: $icon-large;
    color    : $color-primary;
  }

  // TABLET
  @include query("tablet") {
    flex: 1;
  }
}

.language {
  @include remCalc(5, padding, bottom);
  margin       : auto;
  border-bottom: $border-default;
}

.css,
.html {
  border-bottom: $border-default;

  // TABLET
  @include query("tablet") {
    border-bottom: none;
    border-right : $border-default;
  }
}

.html {
  // TABLET
  @include query("tablet") {
    border-top-left-radius   : $br;
    border-bottom-left-radius: $br;
  }
}

.js {
  // TABLET
  @include query("tablet") {
    border-top-right-radius   : $br;
    border-bottom-right-radius: $br;
  }
}
