/* Skills Styles
   ========================================================================== */

#skills {
  @extend %center;
  display     : flex;
  flex-wrap   : wrap;

  h2 {
    flex-basis: 100%;
  }
}

.skills-container {
  @include transition-all();
  display         : flex;
  flex-direction  : column;
  flex-grow       : 1;
  padding         : 10px;
  background-color: $color-skills;
  color           : $color-primary;

  .icon {
    font-size: $icon-large;
  }

  &:hover {
    background-color: lighten($color-skills, 10%);
  }
  @include query("tablet") {
    flex: 1;
  }
}

.html {
  @include query("tablet") {
    border-top-left-radius   : $br;
    border-bottom-left-radius: $br;
  }
}

.js {
  @include query("tablet") {
    border-top-right-radius   : $br;
    border-bottom-right-radius: $br;
  }
}

.css,
.html {
  border-bottom: 2px solid;
  @include query("tablet") {
    border-bottom: none;
    border-right : 2px solid;
  }
}

.ion-social-html5,
.ion-social-html5 + span {
  color: $html5;
}

.ion-social-css3,
.ion-social-css3 + span {
  color: $css3;
}

.ion-social-javascript,
.ion-social-javascript + span {
  color: $javascript;
}
