/* Base Styles
   ========================================================================== */

* {
  box-sizing: border-box;
}

body {
  line-height     : 1.5;
  font-family     : $stack-montserrat;
  background-color: $color-primary;
  color           : $color-secondary;
}

header {
  margin-top: 1em;
  text-align: center;
}

ul {
  list-style: none;
  margin    : 0;
  padding   : 0;
}

a {
  text-decoration: none;
  color: $color-secondary;
  display: block;
}
