/* Base Styles
   ========================================================================== */

* {
  box-sizing: border-box;
}

body {
  width           : 90%;
  margin          : auto;
  line-height     : 1.5;
  font-family     : $stack-montserrat;
  background-color: $color-background;
  color           : $color-text-dflt;

  // DESKTOP
  @include query("desktop") {
    width: 80%;
  }
}

header {
  @extend %center;
  @include remCalc(16, padding, top);
  @include remCalc(60, margin, bottom);
  
  // TABLET
  @include query("tablet") {
    display       : flex;
    flex-direction: column;
    align-items   : center;
  }
  
  // DESKTOP
  @include query("desktop") {
    flex-direction : row;
    justify-content: space-between;
  }
}

ul {
  list-style: none;
  margin    : 0;
  padding   : 0;
}

a {
  color          : inherit;
  text-decoration: none;
  display        : block;
  transition     : $transition-color;

  &:hover {
    color: $color-primary;
  }
}

section {
  @extend %section-separator;
}

img {
  max-width: 100%;
}

.crawler {
  display: none;
}
