/* Base Styles
   ========================================================================== */

* {
  box-sizing: border-box;
}

body {
  width           : 90%;
  margin          : auto;
  line-height     : 1.5;
  font-family     : $stack-montserrat;
  background-color: $color-primary;
  color           : $color-secondary;

  @media #{$brk-desktop} {
    width: 80%;
  }
}

header {
  @extend %center;
  @include layout-calc(16, padding, top);
  @include layout-calc(60, margin, bottom);
  @media #{$brk-tablet} {
    display       : flex;
    flex-direction: column;
    align-items   : center;
  }
  @media #{$brk-desktop} {
    flex-direction : row;
    justify-content: space-between;
  }
}

ul {
  list-style: none;
  margin    : 0;
  padding   : 0;
}

a {
  @include transition-all();
  text-decoration: none;
  color          : $color-secondary;
  display        : block;

  &:hover {
    color: $color-highlight;
  }
}

section {
  @extend %margin-bottom;
}

h2 {
  @extend %margin-bottom;
  @extend %text-uppercase;
  margin-top: 0;

  .icon {
    font-size: $icon-large;
    display  : block;
  }
}

img {
  max-width: 100%;
}
