/* Extended Styles
   ========================================================================== */

%text-uppercase {
  text-transform: uppercase;
}

%center {
  text-align: center;
}

%margin-bottom {
  margin-bottom: 3.125rem;
}

%nav-hover {
  color : $color-highlight;
  cursor: pointer;
}
