/* Mixins
   ========================================================================== */
@mixin transition-all($time: .4s, $transition: ease) {
  transition: all $time $transition;
}

@mixin item-hover($id, $bgColor ) {
  &#{$id}:hover {
    background-color: $bgColor;
    color           : $color-tertiary;
  }
}

@mixin layout-calc($px, $type, $direction: null) {
  @if ($direction) {
    #{$type}-#{$direction}: unquote("#{$px / 16}rem");
  } @else {
    #{$type}: unquote("#{$px / 16}rem");
  }
}
