/* Mixins
   ========================================================================== */

@mixin transition-all($time: .4s, $transition: ease) {
  transition: all $time $transition;
}
@mixin item-hover($id, $bgColor ) {
  &#{$id}:hover {
    background-color: $bgColor;
    color           : $color-tertiary;
  }
}
