// Descriptive Color Variables


// Functional Color Variables


// Font Stacks

$stack-sans-serif      : Helvetica, Arial, sans-serif;
$stack-roboto          : Roboto, $stack-sans-serif;
$stack-roboto-condensed: "Roboto Condensed", $stack-sans-serif;
